<html lang="ru">

<head>
    <meta charset="utf-8" />
    <title> Error 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Error Pages 500" name="description" />

    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/img/errors/favicon.ico">

    <!-- Style css -->
    <link href="/assets/css/error-style.min.css" rel="stylesheet" type="text/css">
</head>

<body>

    <section class="flex items-center h-full">
        <div class="container">
            <div class="text-center max-w-2xl mx-auto">

                <img src="/assets/img/errors/error-5.png" alt="error-5" class="h-72 mb-5 mx-auto">
                <h1 class="font-bold sm:text-[150px] text-9xl mb-2">500</h1>
                <h3 class="text-gray-800 sm:text-2xl text-xl font-bold mb-4">Упс! Внутренняя ошибка сервера</h3>
                <p class="text-gray-700 font-medium leading-relaxed">Внутренний сервер Бу-Бу: Наша ошибка! Сервер икнул. Мы чистим код и скоро приведем его в порядок. Пожалуйста, наберитесь терпения.</p>
                <div class="mt-8">
                    <a href="/"><button class="border border-black text-black font-medium rounded-full transition-all duration-300 hover:bg-black hover:text-white py-3 px-7">Наберитесь Терпения, Попробуйте еще раз</button></a>
                </div>

            </div>
        </div>
    </section>

</body>

</html>