{% extends "layout.twig" %}
{% block content %}


        <div class="card-body">
            <form action="/admin/article/delete" method="get" >
            <div class="form-group">
                <label>Вы уверены, что хотите удалить статью?</label>
                <input type="hidden" name="id" value="{{ article.id }}">
            </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" name="btnYes">ДА</button>
                    <button type="submit" class="btn btn-danger" name="btnNo">НЕТ(((</button>
                </div>
            </form>
        </div>

{% endblock %}