{% extends "layout.twig" %}
{% block content %}
{% for article in articles %}

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/{{ article.image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title}}</h5>
                    <p class="card-text">
                        <a class="btn btn-success" href="/blog/{{ article.id}}">Пордробнее</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
{% endblock %}