{% extends "layout.twig" %}
{% block content %}

    <h1>Приветствуем</h1>
    <p class="important">
        Добро пожаловать! Авторизуйтесь для входа.
    </p>
    <form action="" method="post">
        <input type="text" name="login">
        <button type="submit"> Войти </button>
    </form>

{% endblock %}